@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="Authentication" asp-action="Test" method="post">
    <input type="text" name="titi" value="titi-val" />
    <input type="text" name="toto" value="val-toto" />
    <button type="submit">Test Submit</button>
</form>